---
import Drf from "./icons/Drf.astro"

const TAGS = {
  DRF: {
    name: "Django",
    class: "bg-black text-white",
    icon: Drf
  }
}

const PROJECTS = [
    {
        title: 'Api de Pagos de Servicios',
        description: 'Creación de API de pagos con drf usando versionamiento',
        link: '#',
        github: 'https://github.com/vmarialuzm/ProyectoFinal_drf',
        image: '/projects/drf.webp',
        tags: [TAGS.DRF]
    }
]
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map(tag => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                        >
                            <tag.icon class="size-4" />
                                {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img 
                class="rounded shadow-2xl shadow-white/10"
                src={image} 
                alt={`Captura de pantalla del proyecto ${image}`} 
            />
        </article>
    ))
}